.section-partner{
  &-list{
    @include block_flex;
    @include flex_wrap;
    @include flex_justify_around;
    max-width: 980px;
    margin: 0 auto;
  }
  &-item{
    width: 272px;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 10px;
    .image{
      text-align: center;
      margin: 0 auto 25px;
      width: 196px;
      height: 196px;
      line-height: 156px;
      padding: 20px;
      background: url("../images/partners/circle.png") no-repeat;
      img{
        vertical-align: middle;
      }
    }
    .name{
      font-size: 26px;
      line-height: 1.15;
      color: $color_sub_title;
      &:hover{
        color: $color_blue_1;
      }
    }
    .text{
      color: $color_black;
      font-size: 16px;
      line-height: 1.375;
      font-weight: 300;
      margin-top: 5px;
    }
  }
}