.btn{
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-family: $font_family-medium;
  padding:15px;
  line-height: normal;
  border-radius: 5px;
  position: relative;
  border:2px solid;
  &:hover{
    color: $color_white;
  }
  &-sm{
    font-size: 12px;
  }
  &-lg{
    font-size: 16px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-primary{
    background: $color_blue_1;
    border-color: $color_blue_1;
    color:$color_white;
    &:hover{
      background: $color_title;
      border-color: $color_title;
    }
  }
  &-primary,
  &-outline-primary{
    min-width: 160px;
  }
  &-primary{
    background: $color_blue_1;
    border-color: $color_blue_1;
    color:$color_white;
    &:hover{
      background: $color_title;
      border-color: $color_title;
    }
    .icon{
      font-size: 18px;
      &-left{
        margin-right: 15px;
      }
    }
  }
  &-outline-primary{
    background: $color_white;
    border-color: $color_blue_1;
    color:$color_title;
    &:hover{
      background: $color_title;
      border-color: $color_title;
    }
    .icon{
      &-right{
        margin-left: 15px;
      }
    }
  }
  &-play{
    width: 70px;
    height: 70px;
    line-height: 40px;
    background: $color_blue_1;
    color:$color_white;
    box-shadow: 0 0 0 4px rgba(6, 136, 251, 0.2);
    border: 4px solid;
    border-radius: 50%;
    margin: 4px;
  }
  &-menu{
    border: 0;
    padding: 15px;
    line-height: 2px;
    text-align: right;
    width: 52px;
    z-index: 6;
    .icon-bar{
      display: inline-block;
      vertical-align: top;
      background: $color-text;
      width: 22px;
      height: 2px;
      -webkit-transition: transform .2s ease-in-out;
      -moz-transition: transform .2s ease-in-out;
      transition: transform .2s ease-in-out;
      &+.icon-bar{
        margin-top: 5px;
      }
      &:first-child{
        width: 18px;
      }
      &:last-child{
        width: 16px;
      }
    }
    &.open{
      .icon-bar{
        &:first-child{
        -webkit-transform: translateY(7px) rotate(45deg);
        -moz-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg);
        width: 100%;
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:last-child{
          -webkit-transform: translateY(-7px) rotate(-45deg);
          -moz-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
          width: 100%;
        }
      }
    }
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &-social{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $color_blue_1;
    line-height: 40px;
    text-align: center;
    color: $color_white;
    font-size: 18px;
    &+&{
      margin-left: 10px;
    }
  }
}