.icon{
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 5px;
  }
  &-right{
    margin-left:5px;
  }
  &-middle{
    vertical-align: middle;
    margin-top: -2px;
    display: inline-flex;
  }
  &-play{
    color: inherit;
    border-left: 12px solid;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -7px;
    margin-left: 4px;
  }
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4j661y');
  src:  url('../fonts/icomoon.eot?4j661y#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?4j661y') format('truetype'),
  url('../fonts/icomoon.woff?4j661y') format('woff'),
  url('../fonts/icomoon.svg?4j661y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e900";
}
.icon-assets:before {
  content: "\e901";
}
.icon-btn-arrow:before {
  content: "\e902";
  font-size: 6px;
}
.icon-doc:before {
  content: "\e903";
}
.icon-faq-arrow:before {
  content: "\e904";
}
.icon-fb:before {
  content: "\e905";
}
.icon-github:before {
  content: "\e906";
}
.icon-investors:before {
  content: "\e907";
}
.icon-lang:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e909";
}
.icon-scontracts:before {
  content: "\e90a";
}
.icon-social:before {
  content: "\e90b";
}
.icon-tel:before {
  content: "\e90c";
}
.icon-traders:before {
  content: "\e90d";
}
.icon-transparency:before {
  content: "\e90e";
}
.icon-verify:before {
  content: "\e90f";
}
.icon-whitepaper:before {
  content: "\e910";
}
.icon-you:before {
  content: "\e911";
}
.icon-round-arrow:before {
  content: "\e913";
}
.icon-linkedin:before {
  content: "\e912";
}