{% include "blocks/base/_page-head.html" %}
        {% include "blocks/index/_intro.html" %}
        {% include "blocks/index/_intro-point.html" %}
        {% include "blocks/index/_smart.html" %}
        {% include "blocks/index/_point.html" %}
        {% include "blocks/index/_system.html" %}
        {% include "blocks/index/_tools.html" %}
        {% include "blocks/index/_point-for.html" %}
        {% include "blocks/index/_for.html" %}
        {% include "blocks/index/_subscribe.html" %}
{% include "blocks/base/_page-down.html" %}