{% include "blocks/base/_page-head.html" %}
        {% include "blocks/traders/_page-head.html" %}
        {% include "blocks/traders/_traders-includes.html" %}
        {% include "blocks/traders/_traders-management.html" %}
        {% include "blocks/traders/_traders-smart-contracts.html" %}
        {% include "blocks/traders/_traders-profiles.html" %}
        {% include "blocks/traders/_traders-capital.html" %}
        {% include "blocks/traders/_traders-consortium.html" %}
        {% include "blocks/traders/_traders-functionality.html" %}

        {% include "blocks/index/_subscribe.html" %}
{% include "blocks/base/_page-down.html" %}