/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProRegular.woff") format("woff"),
  url("../fonts/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.eot");
  src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBold.woff") format("woff"),
  url("../fonts/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic.eot");
  src: url("../fonts/GothamProItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProItalic.woff") format("woff"),
  url("../fonts/GothamProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight.eot");
  src: url("../fonts/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProLight.woff") format("woff"),
  url("../fonts/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic.eot");
  src: url("../fonts/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProLightItalic.woff") format("woff"),
  url("../fonts/GothamProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'LeOsler_RoughRegular';
  src: url('../fonts/LeOsler-RoughRegular.eot');
  src: url('../fonts/LeOsler-RoughRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LeOsler-RoughRegular.woff') format('woff'),
  url('../fonts/LeOsler-RoughRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeOsler-RoughLight';
  src: url('../fonts/LeOsler_Rough-Light.eot');
  src: url('../fonts/LeOsler_Rough-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LeOsler-RoughLight.woff') format('woff'),
  url('../fonts/LeOsler-RoughLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
