.item-present{
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
}
.item-present .box{
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.item-present .present,
.item-present .cover-box{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
.item-present .cover-box{
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.item-present .label-count{
  position: absolute;
  bottom:-15px;
  right: -15px;
  z-index: 5;
}
.item-present:not(.open) .label-count{
  display: none;
}
.present1{
  top: 8%;
  left: 7%;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}
.present1 .box{
  width: 268px;
  height: 296px;
  background-image: url("../img/boxes/1box-back.png");
}
.present1 .present{
  background-image: url("../img/boxes/1box-gift.png");
}
.present1 .cover-box{
  width:282px;
  height: 342px;
  background-image: url("../img/boxes/1box-face.png");
  top: -45px;
  left: -15px;
}
.present1 .label-count{
  right: inherit;
  left:-105px;
  bottom:-30px;
}
.open.present1 .cover-box{
  transform: rotate(12deg) translate(-50%,-12%);
  -webkit-transform: rotate(12deg) translate(-50%,-12%);
}
.present2{
  top: 20%;
  left: 36%;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}
.present2 .box{
  width: 178px;
  height: 244px;
  background-image: url("../img/boxes/2box-back.png");
}
.present2 .present{
  background-image: url("../img/boxes/2box-gift.png");
}
.present2 .cover-box{
  width: 188px;
  height: 244px;
  background-image: url("../img/boxes/2box-face.png");
}
.present2 .label-count{
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}
.open.present2 .cover-box{
  opacity: 0;
}
.present3{
  top: 24%;
  right: 27%;
  transform: rotate(75deg);
  -webkit-transform: rotate(75deg);
}
.present3 .box{
  width: 176px;
  height: 218px;
  background-image: url("../img/boxes/3box-back.png");
}
.present3 .present{
  background-image: url("../img/boxes/3box-gift.png");
}
.present3 .cover-box{
  width: 248px;
  height: 244px;
  background-image: url("../img/boxes/3box-face.png");
  left: -45px;
  top: -3px;
}
.present3 .label-count{
  top: -15px;
  right: 10px;
  transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);
}
.open.present3 .cover-box{
  transform: rotate(-115deg);
  -webkit-transform: rotate(-115deg);
  transform-origin:31% 26%;
  -webkit-transform-origin:31% 26%;
}
.present4{
  top:47%;
  left: 10%;
  transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
}
.present4 .box{
  width: 177px;
  height: 218px;
  background-image: url("../img/boxes/4box-back.png");
}
.present4 .present{
  background-image: url("../img/boxes/4box-gift.png");
}
.present4 .cover-box{
  width: 194px;
  height: 243px;
  background-image: url("../img/boxes/4box-face.png");
}
.present4 .cover-box .label-count{
  bottom: inherit;
  top: -15px;
  right: 0;
}
.present4 .label-count{
  top: -15px;
  left: -15px;
  transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
}
.open.present4 .cover-box{
  transform: rotate(70deg) translate(-20%,20%);
  -webkit-transform: rotate(70deg) translate(-20%,20%);
  transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
}
.present5{
  top: 40%;
  right: 6%;
  transform: rotate(0deg);
}
.present5 .box{
  width:124px;
  height: 100px;
  background-image: url("../img/boxes/5box-back.png");
}
.present5 .present{
  background-image: url("../img/boxes/5box-gift.png");
}
.present5 .cover-box{
  width: 151px;
  height: 140px;
  background-image: url("../img/boxes/5box-face.png");
  top: -15px;
  left: -5px;
}
.present5 .label-count{
  right: -10px;
  bottom: -35px;
}
.open.present5 .cover-box{
  width: 68px;
  height: 131px;
  background-image: url("../img/boxes/5box-deco.png");
  left: 89%;
  top: -17%;
}
.present6{
  top: 77%;
  left: 8%;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
}
.present6 .box{
  width: 306px;
  height: 380px;
  background-image: url("../img/boxes/6box-back.png");
}
.present6 .present{
  background-image: url("../img/boxes/6box-gift.png");
}
.present6 .cover-box{
  width: 321px;
  height: 388px;
  background-image: url("../img/boxes/6box-face.png");
}
.present6 .label-count{
  bottom: inherit;
  top: 40px;
  right: 30px;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}
.open.present6 .cover-box{
  transform: rotate(30deg) translate(15%,28%);
  -webkit-transform: rotate(30deg) translate(15%,28%);
}
.present7{
  top: 68%;
  right: 35%;
  transform: rotate(-64deg);
  -webkit-transform: rotate(-64deg);
}
.present7 .box{
  width:102px;
  height: 109px;
  background-image: url("../img/boxes/7box-back.png");
}
.present7 .present{
  background-image: url("../img/boxes/7box-gift.png");
}
.present7 .cover-box{
  width:119px;
  height:105px;
  background-image: url("../img/boxes/7box-face.png");
  left: -11px;
  top: 2px;
}
.present7 .label-count{
  right: -30px;
  transform: rotate(64deg);
  -webkit-transform: rotate(64deg);
}
.open.present7 .cover-box{
  transform: rotate(106deg) translate(76%,105%);
  -webkit-transform: rotate(106deg) translate(76%,105%);
  transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
}
.present8{
  top: 54%;
  right: 13%;
  transform: rotate(-74deg);
  -webkit-transform: rotate(-74deg);
}
.present8 .box{
  width:178px;
  height: 220px;
  background-image: url("../img/boxes/8box-back.png");
}
.present8 .present{
  background-image: url("../img/boxes/8box-gift.png");
}
.present8 .cover-box{
  width: 305px;
  height:241px;
  background-image: url("../img/boxes/8box-face.png");
  left: -73px;
  top: -15px;
}
.present8 .label-count{
  transform: rotate(74deg);
  -webkit-transform: rotate(74deg);
}
.open.present8 .cover-box{
  opacity: 0;
}
.present9{
  top: 72%;
  right: 0;
  transform: rotate(64deg);
  -webkit-transform: rotate(64deg);
}
.present9 .box{
  width:178px;
  height: 286px;
  background-image: url("../img/boxes/9box-back.png");
}
.present9 .present{
  background-image: url("../img/boxes/9box-gift.png");
}
.present9 .cover-box{
  width:188px;
  height:284px;
  background-image: url("../img/boxes/9box-face.png");
}
.present9 .label-count{
  bottom: inherit;
  top: 10px;
  right: 5px;
  transform: rotate(-64deg);
  -webkit-transform: rotate(-64deg);
}
.open.present9 .cover-box{
  transform: rotate(57deg) translate(-10%,10%);
  -webkit-transform: rotate(57deg) translate(-10%,10%);
  transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
}
.present10{
  top: 35%;
  left: 105%;
  transform: rotate(0deg);
}
.present10 .box{
  width:399px;
  height: 363px;
  background-image: url("../img/boxes/10box-back.png");
}
.present10 .present{
  background-image: url("../img/boxes/10box-gift.png");
}
.present10 .label-count{
  left: 15px;
  bottom: 20px;
}
.present10 .cover-box{
  width: 406px;
  height: 368px;
  background-image: url("../img/boxes/10box-face.png");
}
.open.present10 .cover-box{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: right top;
  -webkit-transform-origin: right top;
}
/*decorative*/
.decorative1{
  top: 20%;
  right: 115%;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}
.decorative1 .box{
  width: 118px;
  height: 123px;
}
.decorative1 .cover-box{
  background-image: url("../img/boxes/decorative_box1.png");
}

.decorative2{
  bottom: 2%;
  right: 106%;
  transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);
}
.decorative2 .box{
  width:235px;
  height: 228px;
}
.decorative2 .cover-box{
  background-image: url("../img/boxes/decorative_box2.png");
}

.decorative3{
  top: 16%;
  left: 92%;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}
.decorative3 .box{
  width:142px;
  height: 160px;
}
.decorative3 .cover-box{
  background-image: url("../img/boxes/decorative_box3.png");
}
.decorative4{
  top: 13%;
  left: 113%;
  transform: rotate(18deg);
  -webkit-transform: rotate(18deg);
}
.decorative4 .box{
  width:110px;
  height: 110px;
}
.decorative4 .cover-box{
  background-image: url("../img/boxes/decorative_box4.png");
}
.decorative5{
  bottom: -8%;
  left: 122%;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
}
.decorative5 .box{
  width: 118px;
  height: 123px;
}
.decorative5 .cover-box{
  background-image: url("../img/boxes/decorative_box1.png");
}

.item-present.hover:not(.open):hover{
  cursor: pointer;
  -webkit-animation: 0.1s hover ease-out infinite;
  animation: 0.1s hover ease-out infinite;
}
@keyframes hover{
  0%, 25% {
   margin-top: -20px;
  }
  40%,70% {
    margin-top: 10px;
  }
  50%, 100% {
    margin-top: 0;
  }
}
@-webkit-keyframes hover{
  0%, 25% {
    margin-top: -20px;
  }
  40%,70% {
    margin-top: 10px;
  }
  50%, 100% {
    margin-top: 0;
  }
}
@media (max-width:768px){
  .present1{
    top: 280px;
    left: 16%;
  }
  .present2{
    top: 300px;
    left: 68%;
  }
  .present3{
    top: 680px;
    right: 16%;
  }
  .present4{
    top: 730px;
    right: 46%;
  }
  .present5{
    top: 930px;
    right: 59%;
  }
  .present6{
    top: 1250px;
    left: 1%;
  }
  .present7{
    top: 1290px;
    right: 22%;
  }
  .present8{
    top: 910px;
    right: 8%;
  }
  .present9{
    top: 1430px;
    right: 8%;
  }
}
