<section class="section section-intro">
    <div class="section-intro-bg">
        <video class="box-video-height" width="100%" height="auto" autoplay="autoplay" loop="">
            <source src="images/video/SociumTrade.mp4" type="video/mp4">
            <source src="images/video/SociumTrade.webm" type="video/webm">
        </video>
    </div>
    <div class="container">
        <div class="section-intro-text">
                <h1>
                    <span data-aos="fade" class="slide-bg" data-aos-delay="300">Social Trading &</span>
                    <span data-aos="fade" class="slide-bg dark" data-aos-delay="300">Investment Platform</span>
                </h1>
                <div class="text slide-bg" data-aos="fade" data-aos-delay="300" data-slide-delay="1100">
                    SociumTrade - the world’s first comprehensive trading and investment platform based on the blockchain technology
                </div>
        </div>
        <div class="section-intro-link">
            <a data-toggle="modal" data-target="#video" class="section-intro-link-video">
                <div class="section-intro-link-video-text">Play video</div>
                <div class="section-intro-link-video-btn"><i class="icon icon-triangle icon-middle"></i></div>
            </a>
            <div class="section-intro-link-follow">
                Follow us&nbsp;&nbsp;&mdash;
                <a class="link"><i class="icon icon-social icon-social-fb"></i></a>
                <a class="link"><i class="icon icon-social icon-social-tw"></i></a>
                <a class="link"><i class="icon icon-social icon-social-li"></i></a>
                <a class="link"><i class="icon icon-social icon-social-tel"></i></a>
                <a class="link"><i class="icon icon-social icon-social-md"></i></a>
                <a class="link"><i class="icon icon-social icon-social-bt"></i></a>
                <a class="link"><i class="icon icon-social icon-social-gh"></i></a>
                <a class="link"><i class="icon icon-social icon-social-rt"></i></a>
            </div>

        </div>
    </div>
    <div class="section-intro-cur">
        {% include "blocks/header/_currencies.html" %}
        {% include "blocks/header/_cur-index.html" %}
    </div>
</section>

