
.error-message{
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  z-index: 1;
}

.error-message div:first-child{
  font-weight: 400;
  color: #e02b15;
  font-size: 60px;
  font-family: 'LeOsler_RoughRegular',sans-serif;
}
.error-message div:last-child{
  font-size: 40px;
  font-weight: 300;
  font-family: 'LeOsler_RoughRegular',sans-serif;
  color: #aace27;

}

.mock .present4{
  left: -3%;
}
.mock .present8{
  top: 75%;
  right: 35%;

}.mock .present7{
   top: 63%;
   right: 21%;

 }