<section class="section section-blog">
    <div class="container">
        <div class="section-blog-content_right">
            <div class="section-blog-post_text">
                <div class="section-text">
                    <div class="fraze">
                        The world of crypto trading is extremely exciting and those who are able to do it well are seeing far greater returns than any stock market day trader has been able to accomplish in the past.
                    </div>
                </div>
                 <div class="text">
                    <p>
                        That is because this new and innovative industry has hit the open market very suddenly and allowed virtually anyone to get involved from the ground floor. Keep in mind that blockchain technology and the infrastructure of the crypto-market are still largely under construction. Crypto traders should proceed with caution, however; prices can move quite rapidly, which also drastically increases the risk over other markets, as well as the returns.
                    </p>
                     <ul class="lists-disc">
                         <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, commodi corporis eaque eligendi esse ex id illo molestias nemo optio provident quas quisquam quo soluta tenetur unde, velit, vero voluptatibus.</li>
                         <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores atque eaque eius, impedit ipsum iure laboriosam laborum magnam magni maxime nam officiis optio possimus qui sed soluta unde voluptatem.</li>
                         <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias autem culpa distinctio ipsam, laborum mollitia nam necessitatibus neque nihil nobis nulla odio officiis optio quod reiciendis sapiente suscipit tempore!</li>
                         <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores atque eaque eius, impedit ipsum iure laboriosam laborum magnam magni maxime nam officiis optio possimus qui sed soluta unde voluptatem.</li>
                     </ul>
                     <ol class="lists-decimal">
                         <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores atque eaque eius, impedit ipsum iure laboriosam laborum magnam magni maxime nam officiis optio possimus qui sed soluta unde voluptatem.</li>
                         <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores atque eaque eius, impedit ipsum iure laboriosam laborum magnam magni maxime nam officiis optio possimus qui sed soluta unde voluptatem.</li>
                         <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores atque eaque eius, impedit ipsum iure laboriosam laborum magnam magni maxime nam officiis optio possimus qui sed soluta unde voluptatem.</li>
                         <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur assumenda consequuntur cupiditate dolorem ducimus earum eos itaque, laboriosam libero, nemo nesciunt quis sapiente sed vel. Quasi rerum similique vitae!</li>
                     </ol>
                     <h4>Getting over the tech hump</h4>
                     <p>
                         Even though the market is open to everyone, newbies can often find it quite daunting. Crypto trading can require a large amount of technical knowledge and knowhow. So the first thing that drives us crazy is the complexity: What’s a digital wallet? How do I use a private key? How much does a transaction cost? Where to get started?
                     </p>
                     <div class="image">
                        <img src="images/bg-back.png" alt="">
                     </div>
                     <p>
                         he second thing that drives crypto traders up the wall is the time it takes to get things done. In this century we’re used to things happening instantly and we’ve come to expect this of technology. However, sending a single bitcoin can take between 10 minutes and 24 hours, depending on the time of the transaction and the fee you pay for sending it.
                     </p>
                     <p>
                         Other cryptocurrencies work much faster but many are willing to wait in order to get their hands on the real bitcoin. Even so, it’s still annoying!
                     </p>
                     <p>
                         Getting things set up can be even worse. It often takes weeks or even months to open an account at the crypto-exchanges. The average time in the industry at the moment is two to three weeks to get your documents approved.
                     </p>
                 </div>
            </div>
            <div class="section-blog-post_info">
                {% include "blocks/blog/_blog-tag-list.html" %}
                <div class="section-blog-post_info_social">
                    <a href="#">fb</a>
                    <a href="#">tw</a>
                    <a href="#">+</a>
                </div>
            </div>
            <div class="section-blog-post_comment">
                iframe comment
            </div>
        </div>
        <div class="section-blog-content_left">
            {% include "blocks/blog/_blog-popular.html" %}
            {% include "blocks/blog/_blog-subscribe.html" %}
        </div>
    </div>
</section>

