@-webkit-keyframes flash-animate{from,to{opacity:1;}20%{opacity:1;}100%{opacity:0;}}
@keyframes flash-animate{from,to{opacity:1;}20%{opacity:1;}100%{opacity:0;}}
/*.flash{*/
  /*background: #ffb106;*/
/*}*/
/*.flash .wrapper{*/
  /*opacity: 0;*/
/*}*/
.flash .promo-page:after{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#fff;
  -webkit-animation: flash-animate 0.7s linear;
  animation: flash-animate 0.7s linear;
  content: '';
}
@-webkit-keyframes text-animate{from,to{-webkit-transform:translateY(50px);transform:translateY(50px);}100%{-webkit-transform:translateY(0);transform:translateY(0);}}
@keyframes text-animate{from,to{-webkit-transform:translateY(50px);transform:translateY(50px);}100%{-webkit-transform:translateY(0);transform:translateY(0);}}

@-webkit-keyframes girls-animate{from,to{-webkit-transform:rotate(-180deg);transform:rotate(-180deg);}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}}
@keyframes girls-animate{from,to{-webkit-transform:rotate(-180deg);transform:rotate(-180deg);}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}}

@-webkit-keyframes from-left-animate{from,to{-webkit-transform:translateX(-100%);transform:translateX(-100%);}100%{-webkit-transform:translateX(0);transform:translateX(0);}}
@keyframes from-left-animate{from,to{-webkit-transform:translateX(-100%);transform:translateX(-100%);}100%{-webkit-transform:translateX(0);transform:translateX(0);}}

@-webkit-keyframes from-right-animate{from,to{-webkit-transform:translateX(100%);transform:translateX(100%);}100%{-webkit-transform:translateX(0);transform:translateX(0);}}
@keyframes from-right-animate{from,to{-webkit-transform:translateX(100%);transform:translateX(100%);}100%{-webkit-transform:translateX(0);transform:translateX(0);}}

@-webkit-keyframes fly-animate{
  0%{
    transform: rotate(-23deg);-webkit-transform: rotate(-23deg);
    top: -46px;
    left: 23%;
  }
  20%{transform: rotate(0deg);-webkit-transform: rotate(0deg);
    top: -70px;
    left: 33%;
  }
  50%{
    transform: rotate(20deg);-webkit-transform: rotate(20deg);
    top: -36px;
    left: 54%;
  }
  70%{
    -webkit-transform: rotate(39deg);transform: rotate(39deg);
    top: 0;
    left: 67%;
  }
  100%{
    transform: rotate(65deg);-webkit-transform: rotate(65deg);
    top: 120px;
    left: 77%;
  }
}
@keyframes fly-animate{
  0%{
    transform: rotate(-23deg);-webkit-transform: rotate(-23deg);
    top: -46px;
    left: 23%;
  }
  20%{transform: rotate(0deg);-webkit-transform: rotate(0deg);
    top: -70px;
    left: 33%;
  }
  50%{
    transform: rotate(20deg);-webkit-transform: rotate(20deg);
    top: -36px;
    left: 54%;
  }
  70%{
    -webkit-transform: rotate(39deg);transform: rotate(39deg);
    top: 0;
    left: 67%;
  }
  100%{
    transform: rotate(65deg);-webkit-transform: rotate(65deg);
    top: 120px;
    left: 77%;
  }
}
@-webkit-keyframes train-animate{
  0%{
    transform: rotate(-73deg);  -webkit-transform: rotate(-73deg);
    top: 40%;
    left: 80%;
  }
  20%{
    -webkit-transform: rotate(-54deg);transform: rotate(-54deg);
    top: 45%;
    left: 77%;
  }
  40%{
    -webkit-transform: rotate(-27deg);transform: rotate(-27deg);
    top: 52%;
    left: 63%;
  }
  70%{
    top: 56%;
    left: 41%;
    transform: rotate(-7deg);-webkit-transform: rotate(-7deg);
  }
  100%{
    transform: rotate(-7deg);-webkit-transform: rotate(-7deg);
    top: 57%;
    left: 23%;
  }
}
@keyframes train-animate{
  0%{
    transform: rotate(-73deg);  -webkit-transform: rotate(-73deg);
    top: 40%;
    left: 80%;
  }
  20%{
    -webkit-transform: rotate(-54deg);transform: rotate(-54deg);
    top: 45%;
    left: 77%;
  }
  40%{
    -webkit-transform: rotate(-27deg);transform: rotate(-27deg);
    top: 52%;
    left: 63%;
  }
  70%{
    top: 56%;
    left: 41%;
    transform: rotate(-7deg);-webkit-transform: rotate(-7deg);
  }
  100%{
    transform: rotate(-7deg);-webkit-transform: rotate(-7deg);
    top: 57%;
    left: 23%;
  }
}
@keyframes ship-animate{
  0%{
    transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    top: 1042px;
    left: 15%;
  }
  30%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    top: 1056px;
    left: 27%;
  }
  70%{
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    top: 1046px;
    left: 47%;
  }
  100%{
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    top: 1050px;
    left: 59%;
  }
}
@-webkit-keyframes ship-animate{
  0%{
    transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    top: 1042px;
    left: 15%;
  }
  30%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    top: 1056px;
    left: 27%;
  }
  70%{
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    top: 1046px;
    left: 47%;
  }
  100%{
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    top: 1050px;
    left: 59%;
  }
}
.animate.box-prizes .item-prize:first-child,
.animate.box-prizes .item-prize:last-child{
  opacity: 0;
}
.animate.title-page,
.animate.box-presents .prev .item-present{
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.animate.active.girls{
  -webkit-animation: girls-animate 0.4s ease-in-out;
  animation: girls-animate 0.4s ease-in-out;
}
.animate.active.title-page{
  -webkit-animation: text-animate 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: text-animate 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  opacity: 0.99;
}
.animate.box-prizes .name-box{
  top: 200px;
  -webkit-transition: top 0.3s linear;
  transition: top 0.3s linear;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}
.animate.active.box-prizes .name-box{
  top: 300px;
}
.animate.active.box-prizes .item-prize:first-child{
  -webkit-animation: from-left-animate 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: from-left-animate 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  opacity: 1;
}
.animate.active.box-prizes .item-prize:last-child{
  -webkit-animation: from-right-animate 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: from-right-animate 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  opacity: 1;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}
.animate.box-presents.active .prev .item-present{
  opacity: 0.99;
  -webkit-animation: from-right-animate 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: from-right-animate 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.animate.box-presents.active .item-present:nth-child(2) { animation-delay: 0.25s;  -webkit-animation-delay: 0.25s; transition-delay: 0.25s;  -webkit-transition-delay: 0.25s;}
.animate.box-presents.active .item-present:nth-child(3) { animation-delay: 0.5s;  -webkit-animation-delay: 0.5s; transition-delay: 0.5s;  -webkit-transition-delay: 0.5s}
.animate.box-presents.active .item-present:nth-child(4) { animation-delay: 0.75s;  -webkit-animation-delay: 0.75s; transition-delay: 0.75s;  -webkit-transition-delay: 0.75s}
.animate.box-presents.active .item-present:nth-child(5) { animation-delay: 1s;  -webkit-animation-delay: 1s; transition-delay: 1s;  -webkit-transition-delay: 1s}

.animate.fly{
  transform: rotate(-23deg);
  -webkit-transform: rotate(-23deg);
  top: -46px;
  left: 23%;
}
.animate.active.fly{
  transform: rotate(65deg);
  -webkit-transform: rotate(65deg);
  top: 120px;
  left: 77%;
  -webkit-animation: fly-animate 1s linear;
  animation: fly-animate 1s linear;
}
.animate.train{
  transform: rotate(-73deg);  -webkit-transform: rotate(-73deg);
  top: 40%;
  left: 80%;
}
.animate.active.train{
  transform: rotate(-7deg);-webkit-transform: rotate(-7deg);
  top: 57%;
  left: 23%;
  -webkit-animation: train-animate 1s linear;
  animation: train-animate 1s linear;
}
.animate.ship{
  transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  top: 1042px;
  left: 15%;
}
.animate.active.ship{
  transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  top: 1050px;
  left: 59%;
  -webkit-animation: ship-animate 1s linear;
  animation: ship-animate 1s linear;
}
@-webkit-keyframes shake{
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shake{
  0% { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(2px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@-webkit-keyframes blink{
  0% {opacity: 0.99;}
  50% {opacity: 0.3;}
  100% {opacity: 0.99;}
}
@keyframes blink{
  0% {opacity: 0.99;}
  50% {opacity: 0.3;}
  100% {opacity: 0.99;}
}
.block-photo.shake .box-img{
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: shake;
  animation-duration: 0.8s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.block-photo .name-intro{
  -webkit-animation: blink 1.5s linear infinite;
  animation: blink 1.5s linear infinite;
}
@-webkit-keyframes sun{
  0% { -webkit-transform: rotate(0deg) translate3d(0, 0, 0);}
  50% {-webkit-transform: rotate(180deg) translate3d(0, 0, 0);}
  100% {-webkit-transform: rotate(360deg) translate3d(0, 0, 0);}
}
@keyframes sun{
  0% { transform: rotate(0deg) translate3d(0, 0, 0);}
  50% {transform: rotate(180deg) translate3d(0, 0, 0);}
  100% {transform: rotate(360deg) translate3d(0, 0, 0);}
}
.title-page .sun-title{
  -webkit-animation: sun 2s linear infinite;
  animation: sun 2s linear infinite;
}

@-webkit-keyframes plane-fly{
  0% { -webkit-transform: rotate(0deg) translate3d(0, 0, 0);left: -150px;top: 0px;width:20px;}
  25% {-webkit-transform: rotate(25deg) translate3d(0, 0, 0);top: 50px;}
  50% {top:60px;opacity: 1;-webkit-transform: rotate(15deg) translate3d(0, 0, 0);width: 214px;}
  75% {left:100%;opacity: 1;}
  100% {left:130%;top: 100px;-webkit-transform: rotate(30deg);margin-left: 150px;opacity: 0;}
}
@keyframes plane-fly{
  0% { transform: rotate(0deg) translate3d(0, 0, 0);left: -150px;top: 0px;width:20px;}
  25% {transform: rotate(25deg) translate3d(0, 0, 0);top: 50px;}
  50% {top:60px;opacity: 1;transform: rotate(15deg) translate3d(0, 0, 0);width: 214px;}
  75% {left:100%;opacity: 1;}
  100% {left:130%;top: 130px;transform: rotate(30deg);margin-left: 150px;opacity: 0;}
}
.promo-page .main-prize{
  -webkit-animation: plane-fly 8s linear infinite;
  animation: plane-fly 8s linear infinite;
}