.section-question{
  padding: 6em 0 9em;
  &-list{
    margin-top: 4em;
    margin-bottom: 8em;
    &:last-child{
      margin-bottom: 0;
    }
    &_item{
      background: $color_white;
      margin-top: 2em;
      .question{
        font-weight: bold;
        padding: 4.5em 3.5em 4.5em 5.5em;
        @include block_flex;
        @include flex_justify_between;
        @include flex_align_item_center;
        color: $color_black;
        .icon{
          @include web_transition(all .2s ease-in-out);
        }
        &.open{
          .icon{
            @include web_transform(rotate(135deg));
          }
        }
      }
      .answer{
        padding: 0 5.5em 4em;
        display: none;
      }
      .text{
        margin-top: -0.5em;
        ul{
          list-style: disc;
          padding-left: 20px;
          &:not(:last-child) {
            margin-bottom: 1em;
          }
        }
      }
    }
  }
}
@media(max-width: 940px) {
  .section-question{
    padding-top: 4em;
    padding-bottom: 3em;
    h2{
      font-size: 2.575em;
    }
    &-list{
      margin-top: 3em;
      margin-bottom: 5em;
    }
    &-list_item{
      .question{
        padding: 2.5em;
        h4{
          font-size: 2em;
        }
      }
      .icon-plus{
        width: 16px;
        height: 16px;
      }
      .answer{
        padding: 0 2.5em 2em;
      }
    }
  }
}