.footer{
  line-height: 27px;
  padding: 80px 0;
  .logo{
    img{
      height: 42px;
      width: 165px;
    }
  }
  &-nav{
    padding-left: 30px;
    white-space: nowrap;
  }
  &-info{
    &-item{
      font-size: 16px;
      .icon{
        font-size: 12px;
        margin-right: 10px;
        &-address{
          font-size: 19px;
        }
      }
    }
    &-copy{
      font-size: 14px;
    }
  }
}