.btn{
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding:10px;
  line-height: normal;
  border-radius: 5px;
  position: relative;
  border:1px solid;
  &-sm{
    font-size: 12px;
  }
  &-lg{
    font-size: 16px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-menu{
    border: 0;
    padding: 10px 15px;
    line-height: 2px;
    text-align: right;
    width: 52px;
    .icon-bar{
      display: inline-block;
      vertical-align: top;
      background: $color_white;
      width: 22px;
      height: 2px;
      @include web_transition(all .2s ease-in-out);
      &+.icon-bar{
        margin-top: 5px;
      }
      &:nth-child(2){
        width: 18px;
      }
      &:nth-child(3){
        width: 20px;
      }
    }
    &.open{
      .icon-bar{
        &:first-child {
          @include web_transform(translateY(7px) rotate(45deg));
          width: 100%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          @include web_transform(translateY(-7px) rotate(-45deg));
          width: 100%;
        }
      }
    }
  }
  &-border{
    border: 1px solid $color_white;
    color:$color_white;
    @include border_radius(20px);
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px;
    min-width: 165px;
    &:hover{
      background: $color_white;
      color: $color_blue_1;
    }
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}