.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 5px;
  }
  &-right{
    margin-left:5px;
  }
  &-middle{
    vertical-align: middle;
    margin-top: -2px;
  }

}