.earth{
  &-sphere{
    position: relative;
    margin-top: -170px;
    margin-left: -170px;
  }
  #sphere, #flights, #glow-shadows, #locations, #drag {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1140px;
    height: 1140px;
  }

  #glow-shadows {
    top: 1px;
    left: 1px;
  }

  #glow-shadows {
    background: url(../sphere/images/earth-glow-shadows.png) no-repeat center;
    background-size: 70.7%;
  }

  .location {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    box-shadow: 0 0 0 4px rgba(6, 136, 251, 0.2);
    border:4px solid $color_white;
    background: #0688FB;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .location:hover {
    width: 15px;
    height: 15px;
    margin-left: -7.5px;
    margin-top: -7.5px;
  }

  .flight{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 10px;
    top: 10px;
    background: url(../sphere/images/globe-icons/1.png);
    background-size: 100% 100%;
    margin-left: -15px;
    margin-top: -15px;
    cursor: pointer;
    &:nth-last-child(4){
      background-image: url(../sphere/images/globe-icons/2.png);
      width:104px;
      margin-left: -52px;
    }
    &:nth-last-child(3){
      background-image: url(../sphere/images/globe-icons/3.png);
      width:69px;
      height: 25px;
      margin-top: -12px;
      margin-left:-35px;
    }
    &:nth-last-child(2){
      background-image: url(../sphere/images/globe-icons/4.png);
      width:52px;
      height: 46px;
      margin-top: -23px;
      margin-left:-26px;
    }
    &:nth-last-child(1){
      background-image: url(../sphere/images/globe-icons/5.png);
    }
  }

  .flight:hover {
    width: 36px;
    height: 37.5px;
    margin-left: -18px;
    margin-top: -18.75px;
  }
}