.border-bg{
  position: fixed;
  top:0;
  left:50%;
  width: 1520px;
  margin-left: -760px;
  height: 100%;
  z-index: -1;
  border-left:1px solid $border_color_1;
  border-right:1px solid $border_color_1;
  &:after{
    position: absolute;
    content:'';
    top:0;
    left:190px;
    width: 188px;
    height: 100%;
    border-left:1px solid $border_color_1;
    border-right:1px solid $border_color_1;
  }
  &:before{
    position: absolute;
    content:'';
    top:0;
    right:190px;
    width: 188px;
    height: 100%;
    border-left:1px solid $border_color_1;
    border-right:1px solid $border_color_1;
  }
  &-line{
    width: 382px;
    margin: 0 auto;
    border-left:1px solid $border_color_1;
    border-right:1px solid $border_color_1;
    height: 100%;
    position: relative;
    &:after{
      position: absolute;
      content:'';
      top:0;
      left:190px;
      width: 1px;
      height: 100%;
      border-right:1px solid $border_color_1;
    }
  }
  &-impulse{
    width: 1520px;
    height: 1000%;
    background: url("../images/impulse.png") 0 0 no-repeat,
    url("../images/impulse.png") 191px 70% no-repeat,
    url("../images/impulse.png") 380px 10% no-repeat,
    url("../images/impulse.png") 569px 60% no-repeat,
    url("../images/impulse.png") 760px 40% no-repeat,
    url("../images/impulse.png") 950px 80% no-repeat,
    url("../images/impulse.png") 1139px 0 no-repeat,
    url("../images/impulse.png") 1328px 20% no-repeat,
    url("../images/impulse.png") 1518px 50% no-repeat;
    position: absolute;
    top:0;
    left:-1px;
    animation: impulse 6s linear infinite;
    z-index: 1;
  }
}
@keyframes impulse{
  0%{
    top: 0;
  }
  100%{
    top:-1000%;
  }
}
.cursor-scroll{
  color: $color_gray_1;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  font-family: $font_family-medium;
  opacity: 0.5;
  .mouse{
    height: 49px;
    width: 32px;
    border: 2px solid $color_gray_1;
    border-radius: 15px;
    position: relative;
    &:after{
      height: 9px;
      width: 6px;
      background-color: $color_gray_1;
      content: '';
      position: absolute;
      border-radius: 3px;
      top:12px;
      left:50%;
      margin-left: -3px;
    }
  }
  .name{
    @include web_transform(rotate(-90deg));
    position: relative;
    margin-bottom: 30px;
    margin-left: -5px;
  }
}
.dropdown{
  position: relative;
  .href-dropdown{
    position: relative;
    &:after{
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .2em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
  }
  .menu-dropdown{
    position: absolute;
    top:100%;
    left:0;
    margin-top: 5px;
    z-index: 10;
    background: $color_white;
    border-radius: 3px;
    box-shadow: 0 4px 18px rgba(227,229,238,0.52);
    display: none;
    line-height: 24px;
    padding: 10px 0;
    a{
      padding: 0 10px;
    }
  }
}
.block-text{
  font-size: 16px;
  line-height: 1.6875;
}
.circle{
  &-point{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: $color_blue_1;
    color:$color_white;
    box-shadow: 0 0 0 4px rgba(6, 136, 251, 0.2);
    border: 4px solid;
    border-radius: 50%;
    margin: 4px;
    &.gray{
      background: $color_title;
      box-shadow: 0 0 0 4px rgba(47, 71, 149, 0.11);
    }
  }
  &-icon{
    height: 75px;
    width: 77px;
    line-height: 75px;
    font-size: 40px;
    color: $color_title;
    background-color: $color_white;
    box-shadow: 0 4px 38px rgba(227,229,238,0.52);
    border-radius: 50%;
    text-align: center;
    img{
      vertical-align: middle;
    }
  }
}