.distribution{
  background: url(../images/bg_blue.png) no-repeat center;
  background-size: cover;
  color: $color_white;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  &:before{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url("../images/bg-stripes.png") repeat-x center;
    content: '';
  }
  &-box{
    padding: 70px;
    @include box_shadow(0 8px 38px rgba(0,0,0,.2));
    background: $color_white;
    border-radius: 8px ;
    position: relative;
  }
  &_name{
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: $color_black;
    padding-bottom: 20px;
    font-weight: 100;
    text-transform: uppercase;
    span{
      font-weight: 400;
    }
  }
  &_content{
    &_item{
      width: 48%;
      &:first-child{
        text-align: right;
      }
      &:last-child{
        position: relative;
      }
      &_items{
        padding-bottom: 12px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 300;
        opacity: 0.8;
        span{
          font-size: 56px;
          line-height: 70px;
          font-weight: 100;
          padding-left: 20px;
        }
      }
    }
  }
}
//---media---
@media (max-width: 1024px) {
  .distribution{
    &-box{
      padding: 35px 30px;
    }
  }
}
@media (max-width: 940px) {
  .distribution{
    &_content{
      &_item{
        &:first-child {
          width: 60%;
        }
        &:last-child {
          width: 314px;
        }
        &_image{
          transform: scale(0.7);
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .distribution{
    &-box {
      padding: 15px;
    }
    &_name {
      font-size: 38px;
      line-height: 46px;
    }
    &_content{
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      &_item{
        &:first-child {
          width: 100%;
          flex-wrap: wrap;
          align-content: stretch;
          display: flex;
          text-align: center;
        }
        &_items {
          padding-bottom: 12px;
          font-size: 18px;
          line-height: 20px;
          width: 49%;
          font-weight: 400;
          opacity: 1;
          flex-direction: column-reverse;
          justify-content: space-between;
          display: flex;
          span {
            font-size: 40px;
            line-height: 60px;
            font-weight: 300;
            padding-left: 0;
          }
        }
        &:last-child {
          width: 100%;
        }
      }
    }
  }
}