{% include "blocks/base/_page-header.html" %}
{% include "blocks/header/_header-main.html" %}
    <div class="main">
        {% include "blocks/index/_first-block.html" %}
        {% include "blocks/index/_download.html" %}
        {% include "blocks/index/_why.html" %}
        {% include "blocks/index/_problems.html" %}
        {% include "blocks/index/_products.html" %}
        {% include "blocks/index/_distribution.html" %}
        {% include "blocks/index/_funds.html" %}
        {% include "blocks/contact/_contact.html" %}
    </div>
{% include "blocks/footer/_footer.html" %}
{% include "blocks/base/_page-footer.html" %}