.slide-bg{
  position: relative;
  &:after{
    background: $color_blue_1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 90%;
    top:5%;
    pointer-events: none;
    content: '';
    transform: scaleX(0);
    transform-origin: 0 50% 0;
  }
  &.aos-animate{
    &:after{
      -webkit-animation: bg-blue 1s ease-in-out 0.3s;
      animation: bg-blue 1s ease-in-out 0.3s;
    }
  }
  &.dark{
    &:after{
      background:$color_blue_2;
    }
    &.aos-animate{
      &:after{
        animation-delay:0.8s;
        -webkit-animation-delay: 0.8s;
      }
    }
  }
}
[data-slide-delay='1100'].slide-bg{
  &.aos-animate{
    &:after{
      animation-delay: 1.1s;
      -webkit-animation-delay: 1.1s;
    }
  }
}
@-webkit-keyframes bg-blue {
  0%{
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: 0 50% 0;
  }
  33%{
    -webkit-transform: scaleX(1);
    -webkit-transform-origin: 0 50% 0;
  }
  66%{
    -webkit-transform: scaleX(1);
    -webkit-transform-origin: 100% 50% 0;
  }
  100%{
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: 100% 50% 0;
  }
}
@keyframes bg-blue {
  0%{
    transform: scaleX(0);
    transform-origin: 0 50% 0;
  }
  33%{
    transform: scaleX(1);
    transform-origin: 0 50% 0;
  }
  66%{
    transform: scaleX(1);
    transform-origin: 100% 50% 0;
  }
  100%{
    transform: scaleX(0);
    transform-origin: 100% 50% 0;
  }
}