.flag{
  width: 26px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: -2px;
  margin-right: 0.5em;
  &-en{
    background-image: url("../images/lang/en.png");
  }
}
.dropdown{
  position: relative;
  .href-dropdown{
    position: relative;
  }
  .menu-dropdown{
    display: none;
    position: absolute;
    top:100%;
    left:0;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-width: 120px;
    margin-top: 5px;
    background: $color_white;
    &.right{
      right: 0;
      left:inherit;
    }
    a{
      padding: 5px 10px;
      display: block;
      &.active{
         background: $bg_gray;
      }
    }
  }
  &.open{
    .href-dropdown{
      .caret{
        @include web_transform(rotate(180deg));
        @include web_transition(all .2s ease-in-out);
      }
    }
  }
}