.form{
  &-name{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  &-group{
    margin-bottom: 30px;
    position: relative;
  }
  &-btn{
    margin-top: 30px;
  }
  &-control{
    background: $color_white;
    margin: 0;
    font-size: 14px;
    color: $color_black;
    outline: none;
    width: 100%;
    border: 1px solid $border_color_1;
    border-radius: 3px;
    vertical-align: top;
    line-height: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: inherit;
    //background-clip: padding-box;
    padding: 10px;
    &-icon{
      position: absolute;
      top:50%;
      @include web_transform(translateY(-50%));
      &.right{
        right: 0;
        &+.form-control{
          padding-right: 60px;
        }
      }

    }
    &:disabled{
      background: $color_gray_1;
      color: $color_white;
    }
    &:focus,
    &:hover{
      border-color:$color_gray_1;
    }
    &::-webkit-input-placeholder{
      color: $color_gray_1;
    }
    &:-moz-placeholder{
      color: $color_gray_1;
    }
    &:-ms-input-placeholder{
      color: $color_gray_1;
    }
    &.error{
      border-color: $color_red_1;
    }
    &.valid{
      border-color: $color_green_1;
    }
    &.warning{
      border-color:$color_yellow_1;
    }
  }
}
textarea.form-control{
  resize: vertical;
  max-height: 300px;
}